@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "../templates/front/ogani/css/elegant-icons.css";
@import "../templates/front/ogani/css/nice-select.css";
@import "../templates/front/ogani/jquery-ui-1.12.1/jquery-ui.min.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "../templates/front/ogani/css/style.css";
/*@import "../templates/front/estore/assets/css/owl.carousel.min.css";*/
/*@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "../templates/front/estore/assets/css/flaticon.css";
@import "../templates/front/estore/assets/css/slicknav.css";
@import "../templates/front/estore/assets/css/animate.min.css";
@import "../templates/front/estore/assets/css/magnific-popup.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "../templates/front/estore/assets/css/themify-icons.css";
@import "../templates/front/estore/assets/css/slick.css";
@import "../templates/front/estore/assets/css/nice-select.css";
@import "../templates/front/estore/assets/css/style.css";*/
.login-wrapper {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.dropbtn {
    /*!*background-color: #4CAF50;*!*/
    /*background-color: #fff;*/

    /*color: #000000;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
    /*cursor: pointer;*/
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}

.page-item.active .page-link{
    background-color: #7fad39 !important;
    border: #7fad39;
}
